.lead__caption {
  margin-left: 1.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}
