.intro__text {
  max-width: 683px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 0 24px 0;
}


@media (max-width: 769px) {
  .intro__text {
    max-width: 100%;
  }
}
