@import url('video-point/video-point.css');

.video__container {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 665px) {
  .video__container {
    align-items: center;
    flex-direction: column;
  }
}
