@import url('_media-padding/place__title_media-padding.css');

.place__title {
  margin-top: 0;
  margin-bottom: 60px;
  max-width: 457px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  color: #FFFFFF;
}


@media (max-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 65px;
  }
}

@media (max-width: 800px) {
  .place__title {
    max-width: calc(50% - 0.75rem);
    max-width: 320px;
    font-size: 42px;
    line-height: 46px;
    align-self: flex-start;
  }
}

@media (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 2.18rem;
  }
}
