@import url('__item/photo-grid__item.css');

.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
    max-width: 96.09%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
  }
}

@media (max-width: 769px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 426px) {
  .photo-grid {
    grid-template-columns: 1fr;
  }
}
